.container-login {
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* padding: 15px; */
}

.wrap-login {
  width: 390px;
}

.login-form-title {
  display: block;
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  width: 100%;
  /* height: 50px; */
}

.login-form-btn:hover {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  padding-right: -3px;
}

.txt2 {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
}
