.mainMateriais {
    background-color: #121212;
}
.inputPesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
    gap: 60px;
    padding-top: 30px;
}
#pesquisar{
    background-color: #484848;
    width: 170vh;
    height: 8vh;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
    
.card-agendamentos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 800px;
    margin: 2rem auto;
  }

.centerM{
    text-align: center;
    justify-content: center;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
    background-color: red;
    padding: 200px;
}
