.mainMateriais {
    background-color: #121212;
}
.inputPesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
    gap: 60px;
    padding-top: 30px;
}
#pesquisar{
    background-color: #484848;
    width: 170vh;
    height: 8vh;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 300px;

    place-content: center;
    margin: 0 auto;
    /* background-color: red; */
    }
    
