.container-agenda {
  max-width: 1020px;
  margin: 0 auto;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  height: 100%;
}

.pesquisar {
  width: 90%;
  height: 50px;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 0.875rem;
  border: none;
}

input[type="search"] {
  padding: 0 1rem;
  color: var(--cor-w0);
  margin: 1rem 0;
}

input[type="search"]:focus {
  outline: 1px solid white;
}

.pesquisa-container {
  display: flex;
  align-items: center;
}

.ir {
  display: inline-block;
  border-radius: 0.875rem;
  border: none;
  color: white;
  background-color: #107a49;
  padding: 1rem 0.7rem;
  cursor: pointer;
  margin-left: 0.6rem;
  font-size: 0.875rem;
 height: max-content;
}

.card-agendamentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}


@media (max-width: 800px) {
  .card-agendamentos {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}