@import "./reset.css";


:root {
  --cor-w0: #ffffff;
  --cor-w1: #f0f0f0d7;
  --cor-b0: #000;
  --cor-b1: #121212;
  --cor-b2: #1e1e1e;
  --cor-b3: #403e3e;
  --cor-details0: #FF004C;
  --cor-details1: blueviolet;

  --font-family: "Inter", sans-serif;
}


.container {
  max-width: 1250px; 
  padding: 1rem 2rem;
  margin: 0 auto;
}

body {
    font-family: var(--font-family);
    background: #000;
}


.btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-weight: 300;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.096);
}

.bg-0 {
  background-color: var(--cor-b0);
}

.bg-01{
  background: var(--cor-b1);
}

.bg-02 {
  background: var(--cor-b2);
}

.bg-03 {
  background-color: var(--cor-b3);
}

.bg-04 {
  background-color: var(--cor-b4);
}

.fw-400 {
  font-weight: 400;
}

.padding-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}