@import "./reset.css";

.container {
  max-width: 1250px; 
  padding: 1rem 4rem;
  margin: 0 auto;
}

body {
    font-family: Inter, sans-serif;
}


.btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-weight: 300;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.096);
}

header {
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}

nav li, nav li a{
    color: white;
}

.bg {
  background-color: #000;
}

.bg-02 {
  background: #121212;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
