.bg-main-home {
  height: 100vh;
  background-color: #212121;
  background-image: url("../../images/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat, no-repeat;
}

.titulo h1 {
  font-size: 7rem;
  line-height: 1;
}

.tattoo-title {
  -webkit-text-stroke: 1px var(--cor-w0);
  color: transparent;
  margin-left: 15rem;
}

.studio-title {
  color: var(--cor-w0);
}

.main-home {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr;
  gap: 13rem;
  place-items: end;
}

.main-home button {
  font-size: 1.5rem;
}

.title-session {
  -webkit-text-stroke: 1px var(--cor-w0);
  color: transparent;
  font-size: 5rem;
  text-align: center;
  font-style: italic;
}

.tatuadores {
  display: grid;
  place-content: center;
  gap: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  padding: 0 2rem;
}

.card {
  width: 200px;
  height: 260px;
  background-color: #212121;
  border-radius: 40px 0 40px 0;
  text-align: center;
  color: var(--cor-w1);
  font-family: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
}

.card-social {
  opacity: 0;
  transition: all 0.5s;
}

.card-contact {
  font-size: 0.875rem;
  font-weight: 300;
  color: #575656;
}

.img-social1 {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-image: url("../../images/tatuador1.svg");
  background-repeat: no-repeat, no-repeat;
}

.img-social2 {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-image: url("../../images/tatuador2.svg");
  background-repeat: no-repeat, no-repeat;
}

.img-social3 {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-image: url("../../images/tatuador3.svg");
  background-repeat: no-repeat, no-repeat;
}

.icon-social {
  display: flex;
  place-content: center;
}

.card-name {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

.card img {
  padding: 0 5px;
  cursor: pointer;
}

.card:hover .img-social {
  transform: scale(1.1);
}

.card:hover .card-social {
  opacity: 1;
}

.card h3 {
  line-height: 0;
  margin-top: 1rem;
}

.title-session-contato {
  -webkit-text-stroke: 1px var(--cor-w0);
  color: transparent;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 5rem;
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  place-items: center;
}

.endereco {
  color: #f0f0f0d7;
  margin-top: 0.5rem;
}

.contato-redesocial {
  color: #f0f0f0d7;
}

.contato-redesocial strong {
  font-weight: 500;
  color: #575656;
}

.contato-redesocial li {
  display: flex;
  gap: 0.5rem;
}

.contato-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 860px) {
  .cards {
    gap: 2rem;
  }
  iframe {
    width: 500px;
  }
  .titulo h1 {
    font-size: 5rem;
  }
  .main-home {
    gap: 3rem;
  }
}

@media (max-width: 730px) {
  .main-home {
    place-items: center;
  }
  .tattoo-title {
    margin-left: 8rem;
  }
  .cards {
    grid-template-columns: 1fr;
    place-items: center;
  }
  iframe {
    width: 300px;
  }
  .contato-info {
    display: grid;
    gap: 1rem;
  }
  .title-session {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .titulo h1 {
    font-size: 4rem;
  }
  .main-home {
    gap: 0;
  }
  iframe {
    width: 200px;
    height: 200px;
  }
  .contato-container h2 {
    font-size: 4rem;
  }
  .title-session {
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  .titulo h1 {
    font-size: 3rem;
  }
  .tattoo-title {
    margin-left: 2.2rem;
  }
  .main-home {
    gap: 0;
  }
  .title-session {
    font-size: 2.5rem;
  }
  .contato-container h2 {
    font-size: 2.5rem;
    writing-mode: horizontal-tb;
    transform: rotate(0);
    margin-bottom: 5rem;
  }
  .contato-container {
    grid-template-columns: 1fr;
  }
  .main-home button {
    font-size: 1rem;
  }
}
