.bg-main-home {
  height: 100vh;
  background-color: #212121;
  background-image: url("../../images/home-bg.jpg");
  background-position: center center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat, no-repeat;
}

.titulo h1 {
  font-size: 7rem;
  line-height: 1;
}

.tattoo-title {
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-left: 15rem;
}

.studio-title {
  color: white;
  /* background: rgb(255, 84, 141); */
}

.main-home {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr;
  gap: 13rem;
  place-items: end;
}

.title-session {
  -webkit-text-stroke: 1px white;
  color: transparent;
  /* writing-mode: vertical-lr;
  transform: rotate(180deg); */
  font-size: 5rem;
  text-align: center;
  font-style: italic;
}

.tatuadores {
  display: grid;
  place-content: center; 
  gap: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

.card {
  width: 200px;
  height: 260px;
  background-color: #212121;
  border-radius: 40px 0 40px 0;
  text-align: center;
  color: var(--cor-w01);
  /* border: #ff004c86 1px solid; */
  font-family: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
}

.card-social {
  opacity: 0;
  transition: all 0.5s;
}

.card-contact {
  font-size: 0.875rem;
  font-weight: 300;
  color: #575656;
}

.img-social {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  /* border: 1px solid #ff004c86; */
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  /* background-color: #152f50; */
  background-image: url("../../images/tatuado01.svg");
  background-repeat: no-repeat, no-repeat;
}

.icon-social {
  display: flex;
  place-content: center;
}

.card-name {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

img {
  padding: 0 5px;
  cursor: pointer;
}

.card:hover .img-social {
  transform: scale(1.1);
}

.card:hover .card-social {
  opacity: 1;
}

h3 {
  line-height: 0;
  margin-top: 1rem;
}

.title-session-contato {
  -webkit-text-stroke: 1px white;
  color: transparent;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 5rem;
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  place-items: center;
}

.endereco {
  color: #f0f0f0d7;
  margin-top: 0.5rem;
}

.contato-redesocial {
  color: #f0f0f0d7;
}

.contato-redesocial strong {
  font-weight: 500;
  color: #575656;
}

.contato-redesocial li {
  display: flex;
  gap: 0.5rem;
}

.contato-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}