.material{
    text-align: justify;
    padding: 1em;
    width: 400px;
    height: 180px;
    margin: 10px;
    margin-right: 17px;
    background: #1E1E1E;
    border-radius: 20px;
    grid-area: 1 / 1 / 2 / 2; 
    display: grid;
    place-content: center;
  }
