.agenda1{
    text-align: justify;
    padding: 1em;
    width: 400px;
    height: 180px;
    margin: 10px;
    margin-right: 17px;
    background: #1E1E1E;
    border-radius: 20px;
  }

h6{
font-family: 'Inter';
font-style: normal;
font-weight: 80;
font-size: 15px;
background: #1E1E1E;
color: #FFFFFF;
}
.conf{
  color: green;
  border: none;

}
.alt{
  color: rgb(230, 199, 121);
  padding: 1em;
  border: none;
}
.altConf{
  margin-left: 25px;
  margin-top: 30px;

}
h2{
  color: #FFFFFF;
  float: left;
  font-family: 'Inter';
  font-style: normal;

}
.sair{
  float: right;
  color:white;

}
.x{
  background-color: red;
  border-radius: 50%;
  width: 20px;
  color: #FFFFFF;
  position: absolute;
  border: none;
}
.alterar{
  display: flex;
  flex-direction: column;
  border: red solid 1px;
}

.alterar input {
  border-bottom: 1px rgb(157, 155, 155) solid;
}