.agenda1{
    text-align: justify;
    width: 201px;
    height: 350px;
    padding: 2em;
    
  }
  .alterar{
    width: 200px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    color: #888888; 
    padding: 1px;
  }
  .deletar{
    width: 200px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    color: #888888; 
    padding: 1px;
  }