*{
    color:white;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
.tatuadores{
    display: flex;
    border: 1px solid white;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    padding: 1em;
    font-family: 'Inter';
    font-style: italic;
}
.container-agendamento {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    padding-bottom: 5rem;
    padding-left:  2rem;
    padding-right:  2rem;
}

.titulo-agendamento {
    text-align: center;
    color: var(--cor-w0);
    margin: 6rem 0;
}

.label {
    font-size: 15px;
    color: #999;
}

input[type="date"], input[type="time"] {
    color: #999;
}


#select-tatuadores {
    color: #999;
    border: 0rem;
    padding: 0 1rem;
}

#select-tatuadores:focus {
    border: 2px solid #999;
}

.custom-arrow {
    position: absolute;
    display: block;
    background-color: #999;
    top:0;
    right: 0;
    height: 105%;
    width: 3rem;
    pointer-events: none;
}


.custom-arrow::before,
.custom-arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.custom-arrow::before {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid var(--cor-b3);

    top: 40%;
}

.custom-arrow::after {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid var(--cor-b3);

    top: 65%;
}

input[type="radio"] {
    accent-color: var(--cor-details0);
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.2rem;
}

.radio {
    display: flex;
    gap: .875rem;
    align-items: center;
    padding-top: 1rem;
}

.grid-form1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.radio-container {
    background: rgba(110, 110, 110, 0.123);
    border-radius: 1rem;
    padding: 1rem;
}

.btn-agendamento {
    place-self: center;
    margin-top: 5rem;
}
