*{
    color:white;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
.tatuadores{
    display: flex;
    border: 1px solid white;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    padding: 1em;
    font-family: 'Inter';
    font-style: italic;
}
