#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav{
  background-color: black;
  border-radius: 300px;
  width: 105%;
}
.navbar:hover{
  color: red;
}
.navbar{
  margin:10px;
  color: white;
}
